<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        td{
            text-align: center;
        }
        table{
            border-collapse:separate; 
            border-spacing:0px 20px;
        }
        .total{
            width: 658px;
            height: 30px;
            line-height: 30px;
            background: #fadbac;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for='id'>编号：</label>
                        <input type="text" id="id" v-model="id" :disabled="flag" style="display:inline-block;" v-focus>
                        <label for="name">名称:</label>
                        <input type="text" id="name" v-model="name">
                        <button @click="handle" :disabled="submitFlag">提交</button>
                    </div>
                </div>
            </div>
            <div class="total">
                <span>总计：</span>
                <span>{{total}}</span>
            </div>
            <table>
                <thead style="background:#ffa300">
                    <tr>
                        <th width="50px;">编号</th>
                        <th width="200px">名称</th>
                        <th width="200px">时间</th>
                        <th width="200px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in books" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date | format('yyyy-MM-dd hh:mm:ss')}}</td>
                        <td>
                            <a href="" @click.prevent="toEdit(item.id)">修改</a>
                            <span>|</span>
                            <a href="" @click.prevent="toDel(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        Vue.directive('focus',{
            inserted: function (el) {
                el.focus();
            }
        })
        Vue.filter('format', function (value, arg){
            function dateFormat(date, format) {
                if (typeof date === 'string') {
                    var mts = date.match(/(\/Date\((\d+)\)\/)/)
                    if (mts && mts.length >= 3) {
                        date = parseInt(mts[2]);
                    }
                }
                date = new Date(Number(date))
                /*toUTCString() 根据世界时 (UTC) 把 Date 对象转换为字符串 */
                if (!date|| date.toUTCString() == "Invalid Date") {
                    return ""
                }
                var map = {
                    'M': date.getMonth() + 1,
                    "d": date.getDate(),
                    "h": date.getHours(),
                    "m": date.getMinutes(),
                    "s": date.getSeconds(),
                    "q": Math.floor((date.getMonth() + 3) / 3 ), // 季度
                    "S": date.getMilliseconds() //毫秒
                };
                format = format.replace(/([yMdhmsqS])+/g, function (all, t) {
                    var v = map[t];
                    if (v !== undefined){
                        if (all.length > 1) {
                            v = '0' + v;
                            v = v.substr(v.length - 2);
                        }
                        return v
                    } else if (t === 'y'){
                        return (date.getFullYear() + '').substr(4 - all.length)
                    }
                    return all
                })
                return format
            }
            return dateFormat(value, arg)
        })
        var vm = new Vue({
            el:'#app',
            data: {
                id: '',
                name: '',
                flag: false,
                submitFlag:false,
                books: [{
                    id: 1,
                    name: '三国演义',
                    date: '2525609975000'
                },{
                    id: 2,
                    name: '水浒传',
                    date: '2525609975000'
                },{
                    id: 3,
                    name: '红楼梦',
                    date: '2525609975000'
                },{
                    id: 4,
                    name: '西游记',
                    date: '2525609975000'
                }]
            },
            methods: {
                handle: function (){
                    if (this.flag) {
                        this.books.some((item) => {
                            if (item.id == this.id) {
                                item.name = this.name;
                                return true;
                            }
                        })
                        this.flag = false;

                    } else {
                        var book = {};
                        book.id = this.id;
                        book.name = this.name;
                        book.date = '';
                        this.books.push(book);

                    }
                    this.id = ''
                        this.name = ''
                },
                toEdit: function (id) {
                    this.flag = true
                    var book = this.books.filter(function (item) {
                        return item.id == id
                    });
                    this.id = book[0].id;
                    this.name = book[0].name;
                },
                toDel: function (id) {
                    // 获取索引
                    var index = this.books.findIndex(function (item) {
                        return item.id == id;
                    })
                    this.books.splice(index, 1);
                }
            },
            computed: {
                total () {
                    return this.books.length
                }
            },
            watch: {
                // 验证图书名称是否已经存在
                name: function(val) {
                    var flag = this.books.some(function (item) {
                        return item.name  == val
                    })
                    this.submitFlag = flag ? true : false;
                }
            }
        })
    </script>
</body>
</html>